<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'half-edit-user-container' }, remote: true) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label :pubg_account %><br />
    <%= f.text_field :pubg_account, autofocus: true, autocomplete: "enter your PUBG screen name here" %>
  </div>

  <div class="field">
    <%= f.label :playstv_account %><br />
    <%= f.text_field :playstv_account, autofocus: true, autocomplete: "enter your Plays.tv screen name here" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>