<div>
  <ol>
    <li><%= "**Knocks:** " + @data['participant'].dbnos.to_s %></li>
    <li><%= "**Win Place:** " + @data['participant'].win_place.to_s %></li>
    <li><%=  "**Kill:** " + @data['participant'].kills.to_s %></li>
    <li><%= "**Headshots(kills):** " + @data['participant'].headshot_kills.to_s %></li>
    <li><%= "**Damage Dealt:** " + @data['participant'].damage_dealt.to_s %></li>
    <li><%= "**Longest Kill:** " + @data['participant'].longest_kill.to_s %></li>
    <li><%= "**Distance Travelled:** " + (@data['participant'].walk_distance + @data['participant'].ride_distance).to_s %></li>
    <li><%= "Assists: " + @data['participant'].assists.to_s %></li>
    <li><%= "Boosts: " + @data['participant'].boosts.to_s %></li>
    <li><%= "Death Type: " + @data['participant'].death_type.to_s %></li>
    <li><%= "Heals: " + @data['participant'].heals.to_s %></li>
    <li><%= "Place(base on kills): " + @data['participant'].kill_place.to_s %></li>
    <li><%= "Kill Streaks: " + @data['participant'].kill_streaks.to_s %></li>
    <li><%= "Last Kill Points: " + @data['participant'].last_kill_points.to_s %></li>
    <li><%= "Last Win Points: " + @data['participant'].last_win_points.to_s %></li>
    <li><%= "Most Damage: " + @data['participant'].most_damage.to_s %></li>
    <li><%= "Revives: " + @data['participant'].revives.to_s %></li>
    <li><%= "Road Kills: " + @data['participant'].road_kills.to_s %></li>
    <li><%= "Team Kills: " + @data['participant'].team_kills.to_s %></li>
    <li><%= "Time Survived: " + @data['participant'].time_survived.to_s %></li>
    <li><%= "Vehicles Destroyed: " + @data['participant'].vehicle_destroys.to_s %></li>
    <li><%= "Weapons Acquired: " + @data['participant'].weapons_acquired.to_s %></li>
  </ol>
</div>