<h1 class='fl-w100 pubg-font'>Latest Match Look Up</h1>
<div class="form-container fl-w100">
    <%= form_tag(stats_stats_look_up_path, :method => "get", id: "search-form", class: "form-inline") do %>
        <p>
            <%= label_tag 'search' %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Matches" %>
        </p>
        <p id='platform-container'>
            <%= label_tag 'platform' %>
            <%= select_tag "platform", StatsHelper.build_select_opts({:key => 'platform'}).html_safe %>
        </p>
        <p id='region-container'>
            <%= label_tag 'region' %>
            <%= select_tag "region", StatsHelper.build_select_opts({:key => 'region'}).html_safe %>
        </p>
        <%= submit_tag "Search", :name => nil, class: "btn-sm btn-info" %>
    <% end %>
</div>
<% if @data %>
    <%= render 'participant_stats', match: @data[:match], participant: @data[:participant], winners: @data[:winners] %>
<% end %>