<h1>Latest Match Look Up</h1>
<div class="form-container">
    <%= form_tag(stats_stats_look_up_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Matches" %>
        <div id='platform-container'>
            <%= select_tag "platform", StatsHelper.build_select_opts({:key => 'platform'}).html_safe %>
        </div>
        <div id='region-container'>
            <%= select_tag "region", StatsHelper.build_select_opts({:key => 'region'}).html_safe %>
        </div>
        <%= submit_tag "Search", :name => nil %>
    <% end %>
    <% if @data %>
        <%= render :partial => 'participant_stats' %>
    <% end %>
</div>