<!DOCTYPE html>
<%= javascript_include_tag 'application.js' %>
<html>
  <head>
    <title>Workspace</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <%= csrf_meta_tags %>
  </head>
    <body>
      <div class="layer">
      </div>
      <nav class="navbar  navbar-inverse font-color">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand pubg-font navbar-logo" href="#">PUBG Bot</a>
            </div>
            <ul class="nav navbar-nav">
              <li><%= link_to 'Latest Match Look Up', href=stats_stats_look_up_path, :class=> 'navbar-link font-color' %></li>
              <li><a href='https://discordapp.com/oauth2/authorize?client_id=430927196559900673&scope=bot' class='navbar-link font-color'>Add Bot</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <div class="container-fluid">
                <% if current_user %>
                    <% if current_user.try(:admin?) %>
                      <li><%= link_to "Admin", rails_admin_path, :class => 'navbar-link' %></li>
                    <% end %>
                    <span>Signed in as <strong><%= link_to current_user.name, edit_user_registration_path, html_options = {:id => "edit_user" }%></strong></span>
                    <span> - </span>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete, id: "sign_out" %>
                <% else %>
                  <span>
                    <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_url, id: "sign_in" %>
                    <%= link_to "Sign in with Discord", user_discord_omniauth_authorize_url, id: "sign_in" %>
                  </span>
                <% end %>
              </div>
            </ul>
          </div>
        </nav>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <% if @error_message %>
        <p class='error-message'><%= @error_message %></p>
      <% end %>
      <div class="body-container">
        <%= yield %>
        <div style='height:10px; clear: both;'></div>
      </div>
  </body>
    <footer>
      <div></div>
    </footer>
</html>

