<!DOCTYPE html>
<html>
  <head>
    <title>Workspace</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <%= csrf_meta_tags %>
  </head>
    <body>
      <nav class="navbar  navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">PUBG APP</a>
            </div>
            <ul class="nav navbar-nav">
              <li><%= link_to 'Page 1', href="#", :class=> 'navbar-link' %></li>
              <li><%= link_to 'Page 2', href="#", :class=> 'navbar-link' %></li>
              <li><%= link_to 'Page 3', href="#", :class=> 'navbar-link' %></li>
              <li><%= link_to 'Page 4', href="#", :class=> 'navbar-link' %></li>
              <li><%= link_to 'Page 5', href="#", :class=> 'navbar-link' %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <div class="container-fluid">
                <% if current_user %>
                    <% if current_user.try(:admin?) %>
                      <li><%= link_to "Admin", rails_admin_path, :class => 'navbar-link' %></li>
                    <% end %>
                    Signed in as <strong><%= current_user.name %></strong>!
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete, id: "sign_out" %>
                <% else %>
                  <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_url, id: "sign_in" %>
                  <%= link_to "sign in with Discord", user_discord_omniauth_authorize_url, id: "sign_in" %>
                <% end %>
              </div>
            </ul>
          </div>
        </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    
    </body>
</html>

